@using Pages.Authenticacion;
@using Pages.Persona;
<AuthorizeView>
	<Authorized>
		<span>Hola,</span>
		@if (!string.IsNullOrEmpty(photoUser))
		{
			<Image src="@photoUser" Alt="placeholder" Class="img-pequena"/>
		}
		<Dropdown Size="DropdownSize.Large">
			<DropdownToggleButton><span style="font-size:1.2rem">@context.User.Identity!.Name</span></DropdownToggleButton>
			<DropdownMenu>
				<DropdownItem To="/EditUser" Type="DropdownItemType.Link" @onclick=@(() => ShowModal(true))>Setting</DropdownItem>
				<DropdownItem To="/Profilo" Type="DropdownItemType.Link" @onclick=@(() => ShowModal(false))>Profile</DropdownItem>
				<DropdownItem To="/ChangePassword" Type="DropdownItemType.Link">Cambio Password</DropdownItem>
				<DropdownDivider>Dropdown header</DropdownDivider>
				<DropdownItem To="/Logout" Type="DropdownItemType.Link">Logout</DropdownItem>
			</DropdownMenu>
		</Dropdown> 
	</Authorized>
	<NotAuthorized>
		<a href="/Login" class="nav-link btn btn-link">Login</a>
	</NotAuthorized>
</AuthorizeView>
@code {
	private string? photoUser;

	[CascadingParameter]
	IModalService Modal { get; set; } = default!;

	[CascadingParameter]
	private Task<AuthenticationState> authenticationStateTask { get; set; } = null!;


	protected async override Task  OnParametersSetAsync()
	{
		var authenticationState = await authenticationStateTask;
		var claims = authenticationState.User.Claims.ToList();
		var photoClaim = claims.FirstOrDefault(x => x.Type == "Photo");
		if (photoClaim is not null)
		{
			photoUser = photoClaim.Value;
			StateHasChanged(); // fuerza renderizado con la foto
		}
	}

	private async Task ShowModal(bool isEdit = true)

	{
		IModalReference modalReference;

		var options = new ModalOptions
		{
			Class = "modal-lg",
		};
		if (isEdit)
		{

			var parameters = new ModalParameters();
			modalReference = Modal.Show<EditUser>(parameters, options);
		}
		else
		{
			var parameters = new ModalParameters();
			modalReference = Modal.Show<Persona>(parameters, options);
		}
		
	}
	
}