@page "/Login"
@using WebBlazorAPI.Shared.Account
@using WebBlazorAPI.WebSite.Google
@using WebBlazorAPI.WebSite.Repositorio

@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager
@inject ILoginService loginService
@inject IJSRuntime JS
@inject GoogleAuthService GoogleAuth

<div class="loginpage-principal">
    <div class="loginpage-container">
        <div class="loginpage-wrapper" id="formWrapper">
            <div class="loginpage-panel">
                <div class="loginpage-left-blue">
                    <h2>¡Hola, bienvenido!</h2>
                    <p>¿No tienes una cuenta?</p>
                    <button class="btn btn-light mt-2" @onclick="Register">Registrarse</button>
                </div>
                <div class="loginpage-right-white w-100">
                    <h2>Iniciar sesión</h2>

                    <EditForm class="login-form w-100" Model="loginDTO" OnValidSubmit="LoginAsync">

                        <div class="mb-3 w-100">
                            <label class="form-label">Usuario</label>
                            <div class="input-wrapper">
                                <span class="input-icon"><i class="fas fa-envelope"></i></span>
                                <input type="email" class="form-control" @bind-value="loginDTO.Email" placeholder="Email" />
                            </div>
                        </div>

                        <div class="mb-3 w-100">
                            <label class="form-label">Contraseña</label>
                            <div class="input-wrapper">
                                <span class="input-icon"><i class="fas fa-lock"></i></span>
                                <input type="password" class="form-control" @bind-value="loginDTO.Password" placeholder="Contraseña" />
                            </div>
                        </div>

                        <div class="mb-3 text-start w-100">
                            <Switch @ref="switch1" @bind-Value="agree" Label="Remember me" />
                        </div>

                        <div class="mb-3 text-start w-100">
                            <a href="/RecoverPassword">¿Olvidaste tu contraseña?</a>
                        </div>

                        <div class="d-flex justify-content-center gap-2">
                            <button type="submit" class="btn btn-primary">Login</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    </EditForm>

                    <p class="text-center mt-4">O inicia sesión con</p>

                    <div class="loginpage-social-icons">
                        <button @onclick="Google"><i class="fab fa-google"></i></button>
                        <button @onclick="Facebook"><i class="fab fa-facebook-f"></i></button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<script>
    // Función para abrir URL en otra pestaña
    function openInNewTab(url) {
        window.open(url, '_blank');
    }
</script>

@code {
    private LoginDTO loginDTO = new();
    private Switch switch1 = default!;
    private bool agree = false;

    private async Task LoginAsync()
    {
        loginDTO.RememberMe = agree;
        var responseHttp = await repository.Post<LoginDTO, TokenDTO>("/api/Accounts/Login", loginDTO);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await loginService.LoginAsync(responseHttp.Response!.Token);
        navigationManager.NavigateTo("/");
    }
    private void Register ()
     {
        navigationManager.NavigateTo("/Register");
     }
    private async Task Facebook()
    {
        // Redirige al endpoint de la API que inicia OAuth
        // await JS.InvokeVoidAsync("openInNewTab", "https://localhost:7135/api/ExternalAuth/facebook-login");
        navigationManager.NavigateTo("https://localhost:7082/api/ExternalAuth/facebook-login");
       
    }
    private async Task Google()
    {
         var url = await GoogleAuth.GetAuthorizationUrlAsync();
        if (!string.IsNullOrEmpty(url))
        {
            //navigationManager.NavigateTo(url, forceLoad: true); // redirige a Google OAuth
            navigationManager.NavigateTo(url);
          // await JS.InvokeVoidAsync("open", url, "_blank");
            //await JS.InvokeVoidAsync("openUrl", url, "_self");
             //await JS.InvokeVoidAsync("MyBlazorJS.openUrl", url, "_self"); o esto
        }
    }
}