@page "/api/Accounts/ResetPassword"
@using WebBlazorAPI.Shared.Account
@using WebBlazorAPI.WebSite.Repositorio

@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

@if (loading)
{
    <div class="spinner" />
}
 <div class="principal">
    <div class="reset-password-container">
        <!-- Panel izquierdo (Formulario) -->
        <div class="form-left-white">
            <h2>Restablecer contraseña</h2>
            <p>Introduce tu correo electrónico para restablecer tu contraseña</p>
            <EditForm class="reset-password-form" Model="resetPasswordDTO" OnValidSubmit="ChangePasswordAsync">
                <DataAnnotationsValidator />
                <div class="mb-3 w-100">
                    <label class="form-label">Email</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        <input type="email" class="form-control" @bind-value="resetPasswordDTO.Email" required placeholder="Email" />
                    </div>
                </div>
                <div class="mb-3 w-100">
                    <label class="form-label">New Password</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        <input type="password" class="form-control" @bind-value="resetPasswordDTO.Password" required placeholder="New Password" />
                    </div>
                </div>
                <div class="mb-3 w-100">
                    <label class="form-label">Confirm Password</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        <input type="password" class="form-control" @bind-value="resetPasswordDTO.ConfirmPassword" required placeholder="Confirm Password" />
                    </div>
                </div>
                <div class="form-buttons">
                    <button type="submit">Enviar</button>
                    <button type="reset">Cancelar</button>
                </div>
            </EditForm>
        </div>

        <!-- Panel derecho (Información) -->
        <div class="form-right-blue">
            <h2>¡Bienvenido!</h2>
            <p>¿Ya tienes una cuenta?</p>
            <button @onclick="login">Iniciar sesión</button>
        </div>
    </div>
 </div>


@code {
    private ResetPasswordDTO resetPasswordDTO = new();
    private bool loading;

    [Parameter]
    [SupplyParameterFromQuery]
    public string Token { get; set; } = "";

    private async Task ChangePasswordAsync()
    {
        loading = true;
        resetPasswordDTO.Token = Token;
        var responseHttp = await repository.Post("/api/Accounts/ResetPassword", resetPasswordDTO);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            loading = false;
            return;
        }

        loading = false;
        await sweetAlertService.FireAsync("Confirmación", "Contraseña cambiada con éxito, ahora puede ingresar con su nueva contraseña.", SweetAlertIcon.Info);
        navigationManager.NavigateTo("/Login");
    }
    private void login()
    {
        navigationManager.NavigateTo("/Login");
    }
}